@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --first-color: #FFD700;
    --second-color: #BF9F1C;
    --third-color: #758D72;
    --fourth-color: #577362;
    --fifth-color: #1B2A29;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 0.1rem;
}

body {
    background-color: var(--fifth-color);

}

header {
    background-color: var(--fourth-color);
    position: fixed;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 6%;
    z-index: 5000;
}

header ul {
    position: relative;
    display: flex;
    list-style: none;
    text-align: center;
    width: 300px;
    justify-content: space-around;
}

header ul li a {
    position: relative;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: var(--first-color);
    transition: color 0.5s ease-in-out;
    font-weight: bold;
}

header ul li a:hover {
    transition: ease-in;
    color: var(--third-color);
}

.toggle {
    display: none;
}

/* ------------- section home ------------------ */
#home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0% 20%;
    height: 100vh;
    text-align: center;
    align-items: center;
}

#name {
    font-family: 'Lilita One', cursive;
    font-size: 8em;
    letter-spacing: -1px;
    line-height: 100px;
    color: var(--first-color);
}

#sname {
    padding-left: 1px;
    width: min-content;
    font-family: 'Lilita One', cursive;
    font-size: 5em;
    letter-spacing: 8px;
    line-height: 61px;
    background-color: var(--first-color);
    color: var(--fifth-color);
}

h1 {
    font-size: x-large;
    letter-spacing: 10px;
    color: var(--second-color);
    padding-left: 8px;
}

#wrapsocial {
    position: absolute;
    left: 5.5%;
    height: 400px;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#fortune_sun {
    position:absolute;
    top:120px;
    right:120px;
    width: 150px;
}


/* ------------- section about ------------------ */

#about {
    position: relative;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;

}

h3, p {
    font-family: 'Lilita One', cursive;
}

h2 {
    text-decoration: underline;
    color: var(--fifth-color);
    font-size: 30px;
}

#studies {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-top: 6px;
}

#skills {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 38px;
}

#skills h3 {
    position: absolute;
    top: -12px;
    right: calc(50% - 25px);
}

.cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30%;
    min-height: 148px;
    border: 1px solid var(--fifth-color);
    border-radius: 8px;
    padding-top: 6px;
}

.cards h4 {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--third-color);
    padding-left: 6px;
    padding-right: 4px;
}

figure {
    padding: 6px;
}

.skill-icon {
    width: 40px;
}

figcaption {
    text-align: center;
    font-size: 8px;
}



/* ------------------- section projects ---------------------- */



















#projetos {
    position: relative;
    background-color: var(--fifth-color);
    width: 100%;
    height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#projetos h2 {
    text-decoration: none;
    color: var(--third-color);
    text-align: center;
    padding-left: 5px;

}

#github {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    border: 1px solid var(--second-color);
    padding: 5px 10px;
    border-radius: 5px;
}
















/* ------------------- section contato ---------------------- */

#contato {
    width: 100%;
    height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#conitens {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}

.itens {
    display: flex;
    align-items: center;
}

.itens p {
    padding-left: 10px;
}

.itens a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    font-size: 13px;
}

footer p {
    color: var(--second-color);
}

/* ----------------------------waves style----------------------- */

.waves {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 15vh;
 
}

.sevaw {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -15vh;
    height: 0vh;
    min-height: 100px;
    max-height: 150px;
    z-index: 1000;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (width: 7680px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}




/* ---------------------------------------------------------- */

@media (max-width: 650px) {

    header ul {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 20px 20px;
        background: var(--four-color);
        overflow: auto;
        transition: 0.5s;
        flex-direction: column;
        transform: translateY(-100%);
        opacity: 0;
    }

    header ul li a {
        margin: 5px 0;
        font-size: 24px;
        align-items: center;

    }

    .toggle {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle::before {
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: var(--second-color);
        content: '';
        z-index: 1;
        box-shadow: 0 10px 0 var(--second-color);
        transition: 0.5s;
    }

    .toggle::after {
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: var(--second-color);
        content: '';
        z-index: 1;
        transition: 0.5s;
    }

    header.active .toggle::before {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 var(--second-color);
    }

    header.active .toggle::after {
        bottom: 14px;
        transform: rotate(-45deg);
        box-shadow: 0 0 0 var(--second-color);
    }

    header.active ul {
        top: 50px;
        opacity: 1;
        transform: translateY(0);
    }

    #name {
        font-size: 6rem;
        color: var(--first-color);
    }
    #sname {
        font-size: 4em;
        color: var(--fifth-color);
        letter-spacing: 4px;
    }
    h1 {
        font-size: medium;        
        letter-spacing: 9px;
        color: var(--second-color);
    }

    #wrapsocial {
        position: relative;
        display: flex;
        flex-direction: row;
        height: max-content;
        width: 350px;
        left: 0px;
        top:100px;
    }

    #home,
    #about,
    #projetos,
    #contato {
        padding: 0% 8%;
    }
    /*------------*/  
}                                                                                                                                                                                                                                   