@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --first-color: #FFD700;
    --second-color: #BF9F1C;
    --third-color: #758D72;
    --fourth-color: #577362;
    --fifth-color: #1B2A29;
    --sixth-color: #D3DFD2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Share Tech Mono', monospace;
}

header {
    background-color: var(--fourth-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    opacity: 0.9;
    padding: 0% 6%;
    z-index: 5000;
}

header ul {
    position: relative;
    display: flex;
    list-style: none;
    text-align: center;
    width: 300px;
    justify-content: space-around;
}

header ul li a {
    position: relative;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: var(--first-color);
    transition: color 0.5s ease-in-out;
    font-weight: bold;
}

header ul li a:hover {
    transition: ease-in;
    color: var(--third-color);
}

.toggle {
    display: none;
}

#fortune_sun {
    margin-top: 10%;
    width: 25%;
    height: 25%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 420px) {
    #logo {
        width: 25px;
        height: 25px;
        margin-top: 4px;
    }

    header ul {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 20px 20px;
        background: var(--four-color);
        overflow: auto;
        transition: 0.5s;
        flex-direction: column;
        transform: translateY(-100%);
        opacity: 0;
    }

    header ul li a {
        margin: 5px 0;
        font-size: 24px;
        align-items: center;

    }

    .toggle {
        position: relative;
        display: block;
        width: 25px;
        height: 30px;
        cursor: pointer;
    }

    .toggle::before {
        position: absolute;
        top: 6px;
        width: 100%;
        height: 3px;
        background: var(--first-color);
        content: '';
        z-index: 1;
        box-shadow: 0 8px 0 var(--first-color);
        transition: 0.5s;
    }

    .toggle::after {
        position: absolute;
        bottom: 5px;
        width: 100%;
        height: 3px;
        background: var(--first-color);
        content: '';
        z-index: 1;
        transition: 0.5s;
    }

    header.active .toggle::before {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 var(--second-color);
    }

    header.active .toggle::after {
        bottom: 14px;
        transform: rotate(-45deg);
        box-shadow: 0 0 0 var(--second-color);
    }

    header.active ul {
        top: 50px;
        opacity: 1;
        transform: translateY(0);
    }

    /* ------------------------------------------- */

    #home {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--fifth-color);
    }

    #name {
        font-family: 'Lilita One', cursive;
        font-size: 5rem;
        letter-spacing: -0.5px;
        line-height: 65px;
        color: var(--first-color);
        margin-top: 20%;
    }

    #sname {
        width: min-content;
        font-family: 'Lilita One', cursive;
        font-size: 2.8rem;
        margin-left: 4.5px;
        letter-spacing: 0.5rem;
        line-height: 30px;
        background-color: var(--first-color);
        color: var(--fifth-color);
    }

    #fortune_sun {
        margin-top: 10%;
        width: 50%;
        height: 50%;
    }

    #wrapsocial {
        margin-top: 30%;
        display: flex;
        justify-content: space-around;
        width: 90%;
    }

    /* ---------------ABOUT_SECTION-------------- */


    /*--Wave_Animation--*/
    .waves {
        padding-top: 60px;
    }

    .parallax>use {
        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    }

    .parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax>use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

    @keyframes move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }

        100% {
            transform: translate3d(85px, 0, 0);
        }
    }

    /*-------------------*/

    #about {
        width: 100%;
        height: auto;
        background-color: #758D72;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 60px;
    }

    h2 {
        font-family: 'Bebas Neue';
        color: var(--fifth-color);
        margin-top: 9px;
    }

    .standart {
        padding: 18px 9px 18px 9px;
        margin-bottom: 20px;
    }


    /* Slideshow container */
    .slideshow-container {
        max-width: 300px;
        margin-top: 20px;
        position: relative;
        margin: auto;
    }


    /* card skills */

    .card {
        box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.2);
        width: 230px;
        height: 330px;
        text-align: center;
        font-family: arial;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 9px;
        border: var(--fourth-color) 1px solid;
    }

    .tec_conteiner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 100%;
    }

    .skill-icon {
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    li {
        list-style: none;
    }


    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* The dots/bullets/indicators */
    #dots {
        margin: 30px 0px;

    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    #projects {
        width: 100%;
        height: 700px;
        background-color: #1B2A29;
    }
}


/* header ul {
    position: relative;
    display: flex;
    list-style: none;
    text-align: center;
    width: 300px;
    justify-content: space-around;
}

header ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: var(--first-color);
    transition: color 0.5s ease-in-out;
    font-weight: bold;
}

header ul li a:hover {
    transition: ease-in;
    color: var(--third-color);
}

.toggle {
    display: none;
} */